extends layout

block content
    .w3-card-4
      header.w3-container.w3-light-blue
        h3.w3-left Students List (DAW2020)
      if list.length > 0
        .w3-container.w3-pale-blue 
          table.w3-table-all
            tr 
              th Number
              th Name
              th Git
              th
            each s in list
              tr
                td= s.numero
                td= s.nome
                td= s.git    
                td
                  button.w3-btn.w3-blue.w3-round.w3-tiny.custombutton(type='edit', value='Edit', style="margin-right:10px") Edit
                  button.w3-btn.w3-blue.w3-round.w3-tiny.custombutton(type='delete', value='Delete') Delete
      else
        .w3-container
          p There are no students...
      footer.w3-container.w3-light-blue
        address Gerado por dawApp :: 2020-Nov, jcr

  
